$size1: 0.555rem; // 10px //
$size2: 0.75rem; // 12px
$size3: 0.875; // 14px 
$size4: 1rem; // 16px
$size5: 1.125rem; // 18px
$size6: 1.25rem; // 20px 
$size7: 1.222rem; // 22px
$size8: 1.5rem; // 24px
$size9: 1.875rem; // 30px
$size10: 2rem; // 32px

$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
