$spacing1: 0.5rem; // 9px
$spacing2: 1.125rem; // 18px
$spacing3: 0.777rem; // 15px
$spacing4: 1.333rem; // 24px
$spacing5: 2rem; // 32px
$spacing6: 2.75rem; // 44px
$spacing7: 0.125rem; // 2px
$spacing8: 11.25rem; // 180px
$spacing9: 1.813rem; // 29px
$spacing10: 6.813rem; // 109px
$spacing11: 0.375rem; // 6px
$spacing12: 0.875rem; // 14px
$spacing13: 3rem; // 48px
$spacing14: 4.875rem; // 78px
$spacing15: 2.25rem; // 36px
$spacing16: 5rem; // 80px
$spacing17: 1.5rem; // 24px
$spacing18: 1rem; // 16px
$spacing19: 2.125rem; // 34px
$spacing20: 1.563rem; // 25px
$spacing21: 5.813rem; // 93px
$spacing22: 1.75rem; // 28px
$spacing23: 0.813rem; // 13px
$spacing24: 2.313rem; // 37px
$spacing25: 13.125rem; // 210px
$spacing26: 3.938rem; // 63px
$spacing27: 0.25rem; // 4px
$spacing28: 2.75rem; // 44px
$spacing29: 1.438rem; // 23px
$spacing30: 1.063rem; // 17px
$spacing31: 14.875rem; // 238px
$spacing32: 0.5rem; // 8px
$spacing33: 0.875rem; // 14px
$spacing34: 4.25rem; // 68px
$spacing35: 1.875rem; // 30px
$spacing36: 0.063rem; // 1px  
$spacing37: 0.75rem; // 12px  
$spacing38: 1.25rem; // 20px  
$spacing39: 18rem; // 288px  
$spacing40: 5.625rem; // 90px  
$spacing41: 15.938rem; // 255px  
$spacing42: 3.438rem; // 55px  
$spacing43: 4rem; // 64px  
$spacing44: 1.375rem; // 22px  
$spacing45: 0.625rem; // 10px 
$spacing46: 4.375rem; // 70px 
$spacing47: 2.5rem; // 40px 
$spacing48: 3.75rem; // 60px 
$spacing49: 5.125rem; // 82px 
$spacing50: 9.5rem; // 152px 
$spacing51: 4.5rem; // 72px 
$spacing52: 0.438rem; // 7px 
$spacing53: 8.313rem; // 133px 
$spacing54: 3.813rem; // 61px 
$spacing55: 6.25rem; // 100px 
$spacing56: 6.563rem; // 105px 
$spacing57: 4.063rem; // 65px 
$spacing58: 3.125rem; // 50px 
$spacing59: 7.563rem; // 121px 
$spacing60: 7.875rem; // 126px 
$spacing61: 5.75rem; // 92px 
$spacing62: 8.5rem; // 136px 




