@import "../../styles/style-variables/index.module.scss";

.header {
  // background-color: red;
  width: 100%;
  padding: 24px 0 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  @include respond-to($breakpoint: 'md') {
    padding: 13px 0 13px 0;
    justify-content: space-between;
  }
  
  .title {
    display: none;
    font-family: Times New Roman;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    @include respond-to($breakpoint: 'md') {
      display: block;
    }
    span {
      color: #eab308 !important;
    }
  }


  .headerLinks {
    // background-color: red;
    width: 238px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to($breakpoint: 'md') {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 14px;
      width: 339px;
    }

    .headerLink {
      &:hover {
        color: #EAB308;
      }
    }
  }
  
  .active {
    color: #EAB308;
  }
}
