@import "../styles//style-variables/index.module.scss";

.titleContainer {
  width: auto;

  @include respond-to($breakpoint: "md") {
    width: 50rem;
  }

  .title {
    display: flex;
    width: 247px;
    flex-direction: column;
    padding: 0 0 $spacing37 0;
    align-items: center;

    @include respond-to($breakpoint: "md") {
      width: auto;
      align-items: flex-start;
    }

    .textBold {
      font-size: $size8;
      font-weight: $font-bold;
      padding-top: $spacing20;

      @include respond-to($breakpoint: "md") {
        font-size: $size10;
        padding-top: $spacing18;
      }
    }

    .text {
      opacity: 80%;
      font-size: $size2;
      text-align: center;
      margin-top: 16px;
      @include respond-to($breakpoint: "md") {
        font-size: $size4;
        padding-top: $spacing36;
      }
    }
  }
}

.content {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  img {
    height: 364px;
    width: auto;
  }

  @include respond-to($breakpoint: "lg") {
    img {
      height: auto;
      width: 100%;
    }
  }
}

.buttonContainer {
  width: auto;
  display: flex;
  justify-content: flex-end;
  padding-top: 23px;

  @include respond-to($breakpoint: "md") {
    width: 100%;
    margin-right: 80px;
    padding-top: $spacing17;
  }
}
